@page
@model MentoringApp.Pages.Students.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Student</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Student.ID" />
            <div class="form-group">
                <label asp-for="Student.FirstName" class="control-label"></label>
                <input asp-for="Student.FirstName" class="form-control" />
                <span asp-validation-for="Student.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.LastName" class="control-label"></label>
                <input asp-for="Student.LastName" class="form-control" />
                <span asp-validation-for="Student.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Email" class="control-label"></label>
                <input asp-for="Student.Email" class="form-control" />
                <span asp-validation-for="Student.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.StudentNumber" class="control-label"></label>
                <input asp-for="Student.StudentNumber" class="form-control" />
                <span asp-validation-for="Student.StudentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Phone" class="control-label"></label>
                <input asp-for="Student.Phone" class="form-control" />
                <span asp-validation-for="Student.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Faculty" class="control-label"></label>
                <input asp-for="Student.Faculty" class="form-control" />
                <span asp-validation-for="Student.Faculty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Student.Program" class="control-label"></label>
                <input asp-for="Student.Program" class="form-control" />
                <span asp-validation-for="Student.Program" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Student.IsMentor" /> @Html.DisplayNameFor(model => model.Student.IsMentor)
                    </label>
                </div>
            </div>
            @foreach (var q in Model.Question)
            {
            <div class="form-group">
                <label>@q.QuestionText</label><br />
                <input id="@q.QuestionText" name="@q.QuestionText" type="Text" value="@Model.AnswerDict[q.ID].AnswerText"/>
                @*<input type="hidden" asp-for="AnswerDict[q.ID].ID" />
                <input asp-for="AnswerDict[q.ID].AnswerText" class="form-control" />
                <span asp-validation-for="AnswerDict[q.ID].AnswerText" class="text-danger"></span>
                <input type="hidden" asp-for="AnswerDict[q.ID].QuestionFk" />
                <input type="hidden" asp-for="AnswerDict[q.ID].StudentFk" />*@

            </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
