@page
@model MentoringApp.Pages.Students.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a> | <a asp-page="DeleteAll">Delete All</a> | <a asp-page="BulkUpload">Bulk Upload</a>
</p>
<form>
    <p>
        Search: <input type="text" name="searchString" />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Type: <select name="typeOfStudent">
            <option value="Any">Any</option>
            <option value="Mentee">Mentee</option>
            <option value="Mentor">Mentor</option>
        </select>
        &nbsp;&nbsp;&nbsp;
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].StudentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Faculty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].Program)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student[0].IsMentor)
            </th>
            @foreach (var item in Model.Question)
            {
                <th>
                    @item.QuestionText
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Student) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faculty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Program)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsMentor)
            </td>
            @foreach (var q in Model.Question)
            {
                <td>
                    @Model.AnswerDict.GetValueOrDefault(q.ID.ToString() + "-" + item.ID.ToString())
                </td>
            }
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
