@page
@model MentoringApp.Pages.Matchmaking.IndexModel

@{
    ViewData["Title"] = "Index";
    //bool isMatching = false;
}

<h2>Matchmaking</h2>

@*@if (isMatching)
{
    <h2>This could take a while. Please wait.</h2>

    <div>
        <img src="~/images/loader.gif" alt="" />
    </div>
}
else
{*@
    <form method="post">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.question[0].QuestionText)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.question[0].Weight)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Faculty
                    </td>
                    <td>
                        <input name="facultyWeight" type="range" value="@Model.settings.facultyWeight" min="0" max="1" step="0.01" />
                    </td>
                </tr>
                @foreach (var item in Model.question)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.QuestionText)
                        </td>
                        <td>
                            <input name="@Model.getQuestionWeightName(item.ID)" type="range" value="@item.Weight" min="0" max="1" step="0.01" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="submit" value="Make Matches" id="match" />
    </form>
@*}*@