@page
@model MentoringApp.Pages.Matchmaking.MatchesModel

@{
    ViewData["Title"] = "Matches";
}

<h2>Matches</h2>

<p>
    <a asp-page="Index">Match Students</a> |
    <a asp-page="DeleteAll">Clear Matches</a>
</p>
<table class="table">
    @{
        <thead>
            <tr>
                <th></th>
                <th>
                    @Html.DisplayNameFor(model => model.student[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.student[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.student[0].Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.student[0].StudentNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.student[0].Phone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.student[0].Faculty)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.student[0].Program)
                </th>
            </tr>
        </thead>

        @foreach(var s in Model.student.Where(a => a.IsMentor))
        {
            var mentees = Model.student.Where(a => !a.IsMentor && a.Match != null && a.Match.ID == s.Match.ID);
        <tbody>
            <tr>
                 @if (mentees.Count() > 0)
                 {
                    <td>
                        <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#@s.Match.ID.ToString()">+</button>
                    </td>
                 }
                <td>
                    @s.FirstName
                </td>
                <td>
                    @s.LastName
                </td>
                <td>
                    @s.Email
                </td>
                <td>
                    @s.StudentNumber
                </td>
                <td>
                    @s.Phone
                </td>
                <td>
                    @s.Faculty
                </td>
                <td>
                    @s.Program
                </td>
            </tr>
            <tr style="display:none;">
                @if (mentees.Count() > 0)
                {
                    <td colspan="9" class="innerTable">
                    @{
                        //int rowIndex = 0;

                        <tbody id="@s.Match.ID.ToString()" class="collapse">
                        @foreach(var s2 in mentees)
                        {
                            @*if(rowIndex == 0)
                            {
                                <thead id="@s.Match.ID.ToString()" class="collapse">
                                    <tr>
                                        <th></th>
                                        <th>|</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.student[0].FirstName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.student[0].LastName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.student[0].Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.student[0].StudentNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.student[0].Phone)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.student[0].Faculty)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.student[0].Program)
                                        </th>
                                    </tr>
                                </thead>
                            }
                            rowIndex++;*@

                                <tr>
                                    <td>
                                        <span style="display:inline-block;width:14px">&nbsp;</span>
                                    </td>
                                    @*<td>
                                        @if (mentees.Count() > 0)
                                        {
                                            <span class="icon icon-e" style="float:left; cursor:pointer;"></span>
                                        }
                                        else
                                        {
                                            <span style="display:inline-block;width:14px">}</span>
                                        }
                                    </td>*@
                                    <td>
                                        @s2.FirstName
                                    </td>
                                    <td>
                                        @s2.LastName
                                    </td>
                                    <td>
                                        @s2.Email
                                    </td>
                                    <td>
                                        @s2.StudentNumber
                                    </td>
                                    <td>
                                        @s2.Phone
                                    </td>
                                    <td>
                                        @s2.Faculty
                                    </td>
                                    <td>
                                        @s2.Program
                                    </td>
                                </tr>
                        }
                        </tbody>
                    }
                    </td>
                }
                else
                {
                    <td colspan="9"></td>
                }
            </tr>
        </tbody>
    }
}
</table>
