@page
@model MentoringApp.Pages.Mentees.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mentee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.Phone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.Phone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.Faculty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.Faculty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.Program)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.Program)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.IsGrad)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.IsGrad)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.IsInternational)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.IsInternational)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.IsExchange)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.IsExchange)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.IsMature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.IsMature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.IsTransfer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.IsTransfer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.IsPathways)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.IsPathways)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.IsIndigenous)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.IsIndigenous)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.IsFirstGen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.IsFirstGen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.CountryOfOrigin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.CountryOfOrigin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetOtherStudentsInFaculty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetOtherStudentsInFaculty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetOtherStudentsCommute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetOtherStudentsCommute)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetOtherStudentsOnCampus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetOtherStudentsOnCampus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetOtherStudentsOffCampus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetOtherStudentsOffCampus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetOtherStudentsTransfer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetOtherStudentsTransfer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetOtherStudents21)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetOtherStudents21)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetOtherStudentsInt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetOtherStudentsInt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetOtherStudentsClasses)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetOtherStudentsClasses)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetOtherStudentsClubs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetOtherStudentsClubs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetOtherStudentsIndigenous)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetOtherStudentsIndigenous)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetOtherStudentsFirstGen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetOtherStudentsFirstGen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.WorksHard)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.WorksHard)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.Thoughtful)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.Thoughtful)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.AppreciatesNature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.AppreciatesNature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.HelpsOthers)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.HelpsOthers)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.QuickToTrust)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.QuickToTrust)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.EnjoysDiscovering)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.EnjoysDiscovering)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.HandlesStressWell)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.HandlesStressWell)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.IsAthletic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.IsAthletic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.DoesWhatTheyWant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.DoesWhatTheyWant)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.RespectsTraditions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.RespectsTraditions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.NeedsQuietTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.NeedsQuietTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.MeetsResponsibilities)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.MeetsResponsibilities)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.UnderstandScienceMath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.UnderstandScienceMath)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.LivesInHarmony)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.LivesInHarmony)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.IsCheerful)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.IsCheerful)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.IsReserved)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.IsReserved)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.KeepsRoomTidy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.KeepsRoomTidy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.GenderIdentity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.GenderIdentity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.SexualOrientation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.SexualOrientation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.RacialIdentity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.RacialIdentity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.Religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.Religion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.Languages)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.Languages)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mentee.CanContact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mentee.CanContact)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Mentee.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
